/* margins for content */
.content {
		margin-top: 5px;
		margin-right: 20px;
		margin-bottom: 5px;
		margin-left: 20px;
	}

/* for active title */
.active {
	color: blue;
}

/* for navigation bar */
nav {
	display: block;
}

/* for tables */
table {
    border-collapse: collapse;
}

/* for the border of table */
table, th, td {
    border: 1px solid gray;
}

/* align content in center in tables*/
th, td {
    text-align: center;
}

/* for input field */
.textboxclass {
height: 24px;
width: 235px;
}

/* Changing position of the buttom */
.button {
    position:relative;
    left: 15px;
    
}
