/* margins for content */
.content {
		margin-top: 5px;
		margin-right: 20px;
		margin-bottom: 5px;
		margin-left: 20px;
	}

/* for active title */
.active {
	color: blue;
}

/* for navigation bar */
nav {
	display: block;
}

/* for input field */
.textboxclass {
height: 24px;
width: 235px;
}

/* Changing position of the buttom */
.button {
    position:relative;
    left: 15px;
    
}
